.App{
  height: 100vh;
  width: 100vw;
}
#overlay{
  position: fixed;
  height: 4%;
  width: 36%;

  bottom: 0;
  right: 0;
  margin: 10px;
  
  background-color: lightgrey;
  border-radius:  5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.indicator{
  padding: 8%;
}
